html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

.fit {
    width:80%;
    position:relative;
    left:10%;
}

.ul-style{
    display:inline-block;
    list-style:none;
    padding:0;
}